@using Mango.Web.Models.CouponModels.DTOs
@model CouponDto

<form asp-action="CouponDeleteById">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Delete Coupon</h1>
        <input asp-for="CouponId" type="hidden" />
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Coupon Code</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CouponCode" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Discount Amount</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DiscountAmount" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Minimum Amount</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MinimumAmount" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Created On</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CreatedDate" type="date" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Expiry Date</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ExpiryDate" type="date" disabled class="form-control" />
            </div>
            <div class="col-5 offset-2">
                <a asp-controller="coupon" asp-action="CouponIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" disabled class="btn btn-success form-control" />
            </div>
        </div>
        <div>
        </div>
    </div>
</form>